<%
    var numPlayers = 4;
    var numHoles = 9;
    var m = matches[matchIndex];
    var hole = +m.getCurrentHole();
    var gotoHole = -1;
    var startHole = matches[matchIndex].course.endsWith("Back") ? 10 : 1;
    var pars = matchHelper == null ? [] : matchHelper.getPars();

%>

<!DOCTYPE html>
<html>
<script>
  function updateScore(h) {
    httpRequest = new XMLHttpRequest();

    if (!httpRequest) {
      alert('Giving up :( Cannot create an XMLHTTP instance');
      return false;
    }

    var scoringElem = document.getElementById("scoring");
    var radios = scoringElem.getElementsByTagName("input");

    var ss = "";

    for (s=0; s < 4; s++) {
      var value = 0;
      for (r=0; r < radios.length; r++) {
        if (radios[r].checked ){
          if (radios[r].name == "toggle" + s) {
            value = radios[r].value;
          }
        }
      }

      ss += "&score" + s + "=" + value;
    }

    if (h >=0 && h < 9 && h != <%=hole%>) {
      gotoHole = h;
    } else {
      gotoHole = -1;
    }

    httpRequest.onreadystatechange = alertContents;
    httpRequest.open('POST', "./update");
    httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    httpRequest.send('matchIndex=' + encodeURIComponent(<%=matchIndex%>) + "&hole=" + encodeURIComponent(<%=hole%>) + ss);
  }

  function swapAB(team) {
    httpRequest = new XMLHttpRequest();

    if (!httpRequest) {
      alert('Giving up :( Cannot create an XMLHTTP instance');
      return false;
    }

    httpRequest.onreadystatechange = alertContents;
    httpRequest.open('POST', "./update");
    httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    httpRequest.send('matchIndex=' + encodeURIComponent(<%=matchIndex%>) + "&swap=" + encodeURIComponent(team));
  }

  function alertContents() {
    //alert("reloaded" + httpRequest.readyState + " " + XMLHttpRequest.DONE);

    if (httpRequest.readyState == XMLHttpRequest.DONE) {
      //alert("reload" + httpRequest.status + " " + gotoHole);
      if (httpRequest.status === 200) {
        if (gotoHole >= 0) {
          window.location="./match?match=" + <%= matchIndex%> + "&hole=" + gotoHole;
        } else {
          alert("reload");
          window.location.reload(true);
        }

      } else {
        alert('There was a problem with the request.');
      }
    }
  }
</script>


  <head>
    <title><%= matches[matchIndex].getTitle() %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><%= matches[matchIndex].getTitle() %> <%= matches[matchIndex].course %></h2>
    <h2>Current Score: <%= matchHelper.getFinalScore(0) %> - <%=matchHelper.getFinalScore(1) %> </h2>

    <div id="scoring">
        <%
           var par = pars == null ? 4 : pars[hole];
        %>
        <h3>Enter Scores for Hole <%= (hole + startHole) %> - par <%= par %>
        </h3>

        <table>
          <%  for (var p=0; p < 4; p++) {
            var s = m.rounds[p].getScore(hole);

            %>
             <tr>
               <td><%= m.rounds[p].player %></td>

          <%    for (var i=par - 2; i < par * 2; i++) {       %>
              <td><label class="score-button"><input type="radio" name="toggle<%=p%>" value=<%=i %> <%= (i==s ? "checked" : "") %>   ><span><%=i%></span></label></td>
            <%  }     %>
              <td><label class="score-button"><input type="radio" name="toggle<%=p%>" value=<%=(par * 2 + 1) %>  ><span>M</span></label></td>
             </tr>
          <%  }     %>
      </table>
      <p>
        <% if (hole > 0) { %>
          <button class="score-button" onclick="updateScore(<%= hole - 1 %>)">Previous Hole</button>
        <% } %>
        <% if (hole < numHoles) { %>
          <button class="score-button" onclick="updateScore(<%= hole + 1 %>)">Next Hole</button>
        <% } %>
        <button class="score-button" onclick="updateScore(<%= hole %>)">Save</button>
        <button class="score-button" onclick="swapAB(0)">Swap AB Team 1</button>
        <button class="score-button" onclick="swapAB(1)">Swap AB Team 2</button>
      </p>
    </div>


<div id="scorecard">
    <table>
      <tr class="hole">
        <td   class="label"></td>
        <% for (var h=0; h < numHoles; h++) { %>
          <td><%= h + startHole %></td>
        <% } %>
        <td>Total</td>
      </tr>
      <tr class="handicap">
        <td class="label">Handicap</td>
        <%
            var handicaps = matchHelper == null ? [] : matchHelper.getHandicaps();
            for (var i=0; i < handicaps.length; i++) {
        %>
             <td><%=handicaps[i] %></td>
        <%
            }
        %>
        <td></td>
      </tr>
      <tr class="header">
        <td  class="label">Par</td>
        <%  var total = 0;
            for (var i=0; i < pars.length; i++) {
              total += pars[i];
        %>
          <td><%=pars[i] %> </td>
        <%
            }
        %>
        <td><%=total %></td>
      </tr>
    <%


      for (var i=0; i < numPlayers; i++) { %>
      <tr>
        <td  class="label"><%= m.rounds[i].player%></td>
        <%
          var sum = 0;
          var scores = matchHelper.getScores(i);

          for (var s=0; s < scores.length; s++) {
            var score = scores[s];
            sum+= score;

            var c = "par";
            var text = score;

            if (score == pars[s] + 1) {
              c = "bog";
            }  else if (score == pars[s] + 2) {
              c = "dbl";
            }  else if (score == pars[s] - 1) {
              c = "brd";
            }  else if (score == pars[s] - 2) {
              c = "eag";
            }  else if (score == pars[s] + 3) {
              c = "trp";
            }  else if (score == pars[s] + 4) {
              c = "oth";
            }  else if (score > pars[s] + 4) {
              c = "oth";
              text = "M";
            }

            if (score == 0) {
              text = "";
            }
        %>

          <td class="<%= c %>"><%= text %></td>
        <% }  %>

        <td class="total"><%=sum %></td>
      </tr>
      <% }  %>
</table>
<br>

<table>
<%
  for (var i=0; i < numPlayers; i++) {
    if (i == 0 || i == 2) {

%>
    <tr class="handicap">
      <td class="label"></td>
      <% for (var h=0; h < numHoles; h++) { %>
        <td><%= h + startHole %></td>
      <% } %>
      <td class="total">Net</td>
    </tr>
<% } %>
  <tr>
    <td  class="label"><%= m.rounds[i].player + " (" +  m.rounds[i].handicap + ")"%></td>
    <%
      var scores = matchHelper.getNetScores(i);

      for (var s=0; s < scores.length; s++) {
        var score = scores[s];

    %>

      <td class="score"><%= score == 0 ? "" : score %></td>
    <% }  %>

  </tr>
  <% if (i == 1 || i == 3) {
     var scoresTeammate = matchHelper.getNetScores(i-1);
   %>
   <tr>
     <td  class="label">Team</td>
   <%   for (var s=0; s < scores.length; s++) {
       var score = scores[s] + scoresTeammate[s];

   %>
     <td class="score"><%= scores[s] == 0 || scoresTeammate[s] == 0? "" : score %></td>
   <% }  %>

  <%    } %>

  <% }  %>

</table>

 <br>

    <% for (var t=0; t < 2; t++) { %>
      <table>
        <tr class="handicap">
          <td></td>
          <% for (var h=1; h <= numHoles; h++) { %>
            <td><%= h %></td>
          <% } %>

          <td>Match</td>
          <td>Total</td>

        </tr>

            <%
                 var list = [];
                 list[0] = matchHelper.getPoints(t == 0 ? 0 : 2);
                 list[1] = matchHelper.getPoints(t == 0 ? 1 : 3);
                 list[2] = matchHelper.getTeamPoints(t);
                 list[3] = matchHelper.getTotalPoints(t);

                 var labels = [];
                 labels[0] = m.rounds[t == 0 ? 0 : 2].player;
                 labels[1] = m.rounds[t == 0 ? 1 : 3].player;
                 labels[2] = "Team";
                 labels[3] = "";

                for (var i=0; i < list.length; i++) {
            %>
            <tr>
               <td class="label"><%= labels[i] %></td>
               <% var values = list[i];
                  var sum = 0;
                  for (var v=0; v < values.length; v++) {
                    sum += values[v];
               %>
                  <td class="score"><%= values[v] %></td>
               <%  } %>
               <td class="total"><%= sum %></td>
            </tr>
            <% } %>

      </table>
    <% }    %>
    </div>
<br><br>
<p> Choose another match:
  <select onchange="matchChanged()" id="selectedMatch">
    <%
      for (var i=0; i < matches.length; i++) { %>
        <option value="<%= i %>" <%= i==matchIndex ? "selected" : "" %>><%= matches[i].getTitle() %></option>
    <% } %>
  </select>
</p>
<script>
       function matchChanged() {
         var e = document.getElementById("selectedMatch");
         id = e.options[e.selectedIndex].value;
         window.location = "./match?match=" + id;
       }
</script>
  </body>
</html>
