body {
  padding: 20px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #CCFFCC;
}

a {
  color: #00B7FF;
}


#scoring {
    margin:4px;
    background-color: #FFFFFF;
    border: 2px solid black;
}

#scoring h3 {
  margin:3px;
}
#scoring p {
  margin:3px;
}

#scorecard h3 {
  margin:3px;
}

#scoring label {
    float:left;
    width:80px;
    margin:4px;
    background-color:#B5FF33;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;

}

#scoring label span {
    text-align:center;
    font-size: 24px;
    padding:5px 0px;
    display:block;
}

#scoring label input {
    position:absolute;
    top:-50px;
}

#scoring input:checked + span {
  background-color:#33AE22;
  color:#FFFFFF;
}

#scoring .score-button {
    background-color:#FFFFFF;
    color:#333;
}

#scorecard {
    margin:4px;
}


#scorecard table {
  background-color: #FFFFFF;
  border: 2px solid black;
  border-collapse: collapse;
}

#scorecard .hole {
    border: 1px solid black;
    margin:4px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}

#scorecard td {
    border: 1px solid black;
    width:40px;
    text-align: center;
}

#scorecard .handicap {
  background-color: #33AE22;
  color: #FFFFFF;
  text-align: center;
}

#scorecard .header {
  background-color: #B0BAAF;
  color: #000000;
  text-align: center;
}

#scorecard .label {
  text-align: left;
  padding:0px 5px;
  width:120px;
}

#scorecard .score {
}

#scorecard .total {
  text-align: center;
  width:50px;
}

#scorecard td.oth
{
	background: url(../images/other.gif) no-repeat center;
}
#scorecard td.trp
{
	background: url(../images/triple_bogey.gif) no-repeat center;
}
#scorecard td.dbl
{
	background: url(../images/double_bogey.gif) no-repeat center;
}
#scorecard td.bog
{
	background: url(../images/bogey.gif) no-repeat center ;
}
#scorecard td.eag
{
	background: url(../images/eagle.gif) no-repeat center;
}
#scorecard td.brd
{
	background: url(../images/birdie.gif) no-repeat center;
}
